__pycache__/
*.pyc

mod/*/gamedev
qav/*/*/gamedev

# pre-GameDev build artifacts
mod/*/graffiti
qav/*/*/graffiti

obj/*
!obj/.gitkeep

out/*
!out/.gitkeep

qav/*/out/*
!qav/*/out/.gitkeep

qav/swarm/test_knn/bin/
qav/swarm/test_knn/out/
